* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-family: inherit;
}
ul,
ol {
  list-style: none;
}
